<style>
.col {
    cursor: pointer;
}

.col:hover {
    opacity: .5 !important;
}

.check-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.tarjeta {
    position: relative;
}
</style>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="d-flex justify-content-end pt-3 pe-3">
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="row">
                                <div class="col-8 text-center mb-4 mx-auto">
                                    <img src="img/logo-loteria.png" alt="Lotería" title="Lotería" class="img-fluid logo-loteria">
                                </div>
                            </div>
                            <div class="planilla rounded-3 p-3 shadow-lg mb-5">
                                <div class="row row-cols-4 gy-0 gx-2" id="tarjetas">
                                    <div class="col">
                                        <div class="tarjeta n01 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n02 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n03 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n04 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <!--space-->
                                    <div class="col">
                                        <div class="tarjeta n05 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n06 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n07 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n08 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <!--space-->
                                    <div class="col">
                                        <div class="tarjeta n09 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n10 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n11 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n12 border border-2 mb-2 mb-md-3">
                                        </div>
                                    </div>
                                    <!--space-->
                                    <div class="col">
                                        <div class="tarjeta n13 border border-2">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n14 border border-2">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n15 border border-2">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tarjeta n16 border border-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>