@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex row mb-4 mt-4 mt-md-5">
    <div class="col-md-8 text-center text-md-start">
        <h1 class="display-6 fw-bold ">Generación de cartones random</h1>
    </div>
    <div class="col-md-4 text-md-end d-flex align-items-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Cantidad" aria-label="Example text with two button addons" id="cantidad">
            <button class="btn btn-stop" type="button" onclick="GenerarNuevo()">Generar</button>
        </div>
    </div>
    
    
</div>

<div class="text-center pb-5">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Código</th>
                <th>Figuras</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Código</th>
                <th>Figuras</th>
                <th>Ver</th>
            </tr>
        </tfoot>
    </table>
</div>

<partial name="_Carton" />

@section Scripts {
    <script src="~/js/dTableEs.js"></script>
    <script src="~/lib/Responsive-2.2.5/js/dataTables.responsive.js"></script>
    <script type="text/javascript">let ls_figuras = [
            'gallo', 'diablito', 'dama', 'catrin', 'paraguas', 'sirena', 'escalera', 'botella', 'barril', 'arbol',
            'melon', 'valiente', 'gorrito', 'muerte', 'pera', 'bandera', 'bandolon', 'violoncello', 'garza', 'pajaro',
            'mano', 'bota', 'luna', 'cotorro', 'borracho', 'negrito', 'corazon', 'sandia', 'tambor', 'camaron',
            'jaras', 'musico', 'arana', 'soldado', 'estrella', 'cazo', 'mundo', 'apache', 'nopal', 'alacran',
            'rosa', 'calavera', 'campana', 'cantarito', 'venado', 'sol', 'corona', 'chalupa', 'pino', 'pescado',
            'palma', 'maceta', 'arpa', 'rana'];

        $(document).ready(function () {
            $('#table_id').DataTable({
                "responsive": true,
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'excel',
                        text: 'Exportar a Excel',
                        className: 'btn btn-stop',
                        exportOptions: {
                            format: {
                                body: function (data, row, column, node) {
                                    return ValidaData(data, row, column, node);
                                }
                            }
                        }
                    }
                ],
                "ajax": {
                    "url": "/Home/GetAll",
                    "type": "GET",
                    "data": function (d) {
                        d.cantidad = getUrlParameter('cantidad');
                    }
                },
                "order": [[2, "desc"]],
                "columns": [
                    {
                        "data": "item1",
                        "render": function (data, type, row, meta) {
                            return '<a style="word-wrap: break-word;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-codigo="' + data + '" style="cursor:pointer" href="#">' + data + '</a>';
                        },
                        "width": "10%"
                    },
                    {
                        "data": { id: "item2" },
                        "render": function (data) {
                            var parts = data.item2.match(/.{1,2}/g) || [];
                            var figuras = "";

                            parts.forEach(function (item) {
                                figuras += ls_figuras[Number(item) - 1] + ' ';
                            })

                            figuras = figuras.substr(0, figuras.length - 1);

                            return `
                                                    <div class="text-center">
                                                            ${figuras}
                                                    </div>`;
                        }, "width": "85%"
                    },
                    {
                        "data": { id: "item1" },
                        "render": function (data) {
                            return `
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-codigo="${data.item1}" style="cursor:pointer">
                                            ver
                                        </button>
                                        <a href="/Home/Carton?codigo=${data.item1}" target="_blank" class="btn btn-stop" style="cursor:pointer">
                                            ver
                                        </button>
                                    </div>`;
                        }, "width": "5%"
                    }
                ],
                "columnDefs": [
                    { "responsivePriority": 1, "targets": 1 },
                    { "responsivePriority": 2, "targets": 2 },
                    { "responsivePriority": 3, "targets": 0 }
                ],
                "language": espanol
            });
        });

        $("#exampleModal").on('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var codigo = button.getAttribute('data-bs-codigo');

            if (codigo != undefined && codigo.length != 32)
                return false;

            var parts = codigo.match(/.{1,2}/g) || [];
            var figuras = "";

            $('#tarjetas').empty();
            parts.forEach(function (item) {
                var html = '<div class="col"><div class="tarjeta n' + item + ' border border-2 mb-2 mb-md-3"><img src="https://juegalabolita.com/LoteriaMexicanaWeb/content/img/loteria/ticket-azul.png" alt="Check" class="check-overlay"></div></div>';
                $('#tarjetas').append(html);
            })
        });

        $(document).on("click", ".col", function () {
            var $tarjeta = $(this);
            var $overlay = $tarjeta.find('.check-overlay');

            if ($overlay.is(':visible')) {
                $tarjeta.css('opacity', 1);
                $overlay.hide();
            } else {
                $tarjeta.css('opacity', 0.5); // Reduce opacity
                $overlay.show();
            }


            console.log('Botón de ubicación clickeado;')
        });


        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return 500;
        };

        function ValidaData(data, row, column, node) {

            if (data.includes('data-bs-toggle'))
                data = 'link';

            return data;
        }

        function GenerarNuevo() {
            if ($("#cantidad") != undefined)
                document.location.href = 'http://loteriamexicanarandom-env.eba-bg67mbkw.us-east-2.elasticbeanstalk.com/?cantidad=' + $("#cantidad").val();
        }
    </script>
}