.w-25 {
    width: 25% !important;
}
.bg-stop {
    background-color: #fb1b23;
}
.btn-stop {
    background-color: #fb1b23;
    color: #fff;
}
    .btn-stop:hover {
        color: #fff;
        background-color: #B40000;
    }

.modal-content, .pagina {
    background-color: #fb1b23;
    background-image: url(../img/bg.jpg);
    background-position: center top;
    background-size: contain;
}
.modal-content, .pagina {
    background-repeat: no-repeat;
}
.border {
    border-color: #333 !important;
}
.planilla {
    background-color: #fff;
}
.tarjeta {
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: .3rem;
}

.modal .tarjeta {
    height: 100px;
}
@media (min-width: 390px) {
    .tarjeta {
        height: 135px;
    }

    .modal .tarjeta {
        height: 120px
    }
}
@media (min-width: 576px) {
    .tarjeta {
        height: 180px;
    }
    .modal .tarjeta {
        height: 180px
    }
}

@media (min-width: 768px) {
    .tarjeta {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .tarjeta {
        height: 250px;
    }
    .modal .tarjeta {
        height: 200px
    }
}
@media (min-width: 1200px) {
    .tarjeta {
        height: 300px;
    }
}
@media (min-width: 1400px) {
    .tarjeta {
        height: 360px;
    }
}
.n01 {
    background-image: url(../img/01-gallo.jpg)
}
.n02 {
    background-image: url(../img/02-diablito.jpg)
}
.n03 {
    background-image: url(../img/03-dama.jpg)
}
.n04 {
    background-image: url(../img/04-catrin.jpg)
}
.n05 {
    background-image: url(../img/05-paraguas.jpg)
}
.n06 {
    background-image: url(../img/06-sirena.jpg)
}
.n07 {
    background-image: url(../img/07-escalera.jpg)
}
.n08 {
    background-image: url(../img/08-botella.jpg)
}
.n09 {
    background-image: url(../img/09-barril.jpg)
}
.n10 {
    background-image: url(../img/10-arbol.jpg)
}
.n11 {
    background-image: url(../img/11-melon.jpg)
}
.n12 {
    background-image: url(../img/12-valiente.jpg)
}
.n13 {
    background-image: url(../img/13-gorrito.jpg)
}
.n14 {
    background-image: url(../img/14-muerte.jpg)
}
.n15 {
    background-image: url(../img/15-pera.jpg)
}
.n16 {
    background-image: url(../img/16-bandera.jpg)
}
.n17 {
    background-image: url(../img/17-bandolon.jpg)
}
.n18 {
    background-image: url(../img/18-violoncello.jpg)
}
.n19 {
    background-image: url(../img/19-garza.jpg)
}
.n20 {
    background-image: url(../img/20-pajaro.jpg)
}
.n21 {
    background-image: url(../img/21-mano.jpg)
}
.n22 {
    background-image: url(../img/22-bota.jpg)
}
.n23 {
    background-image: url(../img/23-luna.jpg)
}
.n24 {
    background-image: url(../img/24-cotorro.jpg)
}
.n25 {
    background-image: url(../img/25-borracho.jpg)
}
.n26 {
    background-image: url(../img/26-negrito.jpg)
}
.n27 {
    background-image: url(../img/27-corazon.jpg)
}
.n28 {
    background-image: url(../img/28-sandia.jpg)
}
.n29 {
    background-image: url(../img/29-tambor.jpg)
}
.n30 {
    background-image: url(../img/30-camaron.jpg)
}
.n31 {
    background-image: url(../img/31-jaras.jpg)
}
.n32 {
    background-image: url(../img/32-musico.jpg)
}
.n33 {
    background-image: url(../img/33-arana.jpg)
}
.n34 {
    background-image: url(../img/34-soldado.jpg)
}
.n35 {
    background-image: url(../img/35-estrella.jpg)
}
.n36 {
    background-image: url(../img/36-cazo.jpg)
}
.n37 {
    background-image: url(../img/37-mundo.jpg)
}
.n38 {
    background-image: url(../img/38-apache.jpg)
}
.n39 {
    background-image: url(../img/39-nopal.jpg)
}
.n40 {
    background-image: url(../img/40-alacran.jpg)
}
.n41 {
    background-image: url(../img/41-rosa.jpg)
}
.n42 {
    background-image: url(../img/42-calavera.jpg)
}
.n43 {
    background-image: url(../img/43-campana.jpg)
}
.n44 {
    background-image: url(../img/44-cantarito.jpg)
}
.n45 {
    background-image: url(../img/45-venado.jpg)
}
.n46 {
    background-image: url(../img/46-sol.jpg)
}
.n47 {
    background-image: url(../img/47-corona.jpg)
}
.n48 {
    background-image: url(../img/48-chalupa.jpg)
}
.n49 {
    background-image: url(../img/49-pino.jpg)
}
.n50 {
    background-image: url(../img/50-pescado.jpg)
}
.n51 {
    background-image: url(../img/51-palma.jpg)
}
.n52 {
    background-image: url(../img/52-maceta.jpg)
}
.n53 {
    background-image: url(../img/53-arpa.jpg)
}
.n54 {
    background-image: url(../img/54-rana.jpg)
}